.offers{
    width:auto;
    height:auto;
}
.exclusive{
    width: 1512px;
    height:auto;
}
/* .offer-btn button{
     width:200px;
     height:70px;
     border-radius: 35px;
     background:rgb(9, 9, 9);
     border: none;
     color:white;
     font-size: 22px;
     font-weight: 500;
     margin-top:30px;
     cursor:pointer;
     margin-left:9%;
     margin-top: -12%;
} */